<!DOCTYPE html>
<html>
<head>
  <title>AirportShuttle</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="wrapper">
    <%= yield %>
    <div class="push"></div>
</div>
<div class="footer">
    <p>Copyright &copy; 2012 Mark Serrano.</p>
</div>

</body>
</html>
